@use '../../styles/variables';

.button {
  padding: 8px 16px;
  background-color: variables.$button-bg-color;
  color: variables.$text-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: variables.$button-bg-color-hover;
  }

  &.active {
    background-color: variables.$button-bg-color-active;

    &:hover {
      background-color: variables.$button-bg-color-active;
    }
  }

  &.danger {
    background-color: variables.$button-bg-color-danger;
    color: variables.$text-color;

    &:hover {
      background-color: variables.$button-bg-color-danger-hover;
    }
  }
}
