@import '../../styles/variables';

.container {
  width: 100%;
  height: 100%;
  border: $border;
  position: relative;
}

.noOntologyMessage {
  font-size: 16px;
  padding: 20px;
  color: $text-color-secondary;
}

.reactFlowWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.reactFlowWrapper > .react-flow {
  height: 100%;
}

.miniMap {
  height: 100px;
  width: 100px;
}

.controls {
  bottom: 10px;
  right: 10px;
}
