.container {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    position: relative;
}

.noOntologyMessage {
    font-size: 16px;
    padding: 20px;
    color: #777;
}

.reactFlowWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.reactFlowWrapper > .react-flow {
    height: 100%;
}

.miniMap {
    height: 100px;
    width: 100px;
}

.controls {
    bottom: 10px;
    right: 10px;
}
