@use '../../styles/variables';

.node {
  border: variables.$node-border;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: variables.$node-bg-color;
  transition:
    border 0.15s ease,
    background-color 0.15s ease;

  &--selected {
    border: variables.$node-border-selected;
    background-color: variables.$node-bg-color-selected;
    color: variables.$node-text-color-selected;
  }

  &--highlighted {
    border: variables.$node-border-highlighted;
    background-color: variables.$node-bg-color-highlighted;
  }

  &--collapsed {
    border: variables.$node-border-collapsed;
    border-style: dashed;
    background-color: variables.$node-bg-color-collapsed;
  }
}
