@use '../../styles/variables';

:global(.react-flow__node) {
  &.node {
    border: variables.$node-border;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: variables.$node-bg-color;
    transition:
      border 0.15s ease,
      background-color 0.15s ease;
  }

  &.node--selected {
    border: variables.$node-border-selected;
    background-color: variables.$node-bg-color-selected;
    color: variables.$node-text-color-selected;
  }

  &.node--highlighted {
    border: variables.$node-border-highlighted;
    background-color: variables.$node-bg-color-highlighted;
  }

  &.node--collapsed {
    border: variables.$node-border-collapsed;
    border-style: dashed;
    background-color: variables.$node-bg-color-collapsed;
  }
}
