@import './variables';

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
