@use 'variables';

body {
  font-family: variables.$font-family;
  font-size: variables.$font-size-base;
  color: variables.$text-color;
  margin: 0;
  padding: 0;
  background-color: variables.$background-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
