@use '../../styles/variables';

.input {
  box-sizing: border-box;
  display: block;
  min-width: 0;
  width: 100%;
  max-width: 100%;
  padding: 8px 12px;
  background-color: variables.$field-bg-color;
  color: variables.$text-color;

  border: variables.$border;
  border-radius: 6px;

  font-family: variables.$font-family;
  font-size: variables.$font-size-base;

  outline: none;
  transition:
    border-color 0.2s,
    background-color 0.2s,
    box-shadow 0.2s;

  &::placeholder {
    color: variables.$field-placeholder-color;
  }

  &:hover {
    border-color: variables.$field-border-color-hover;
  }

  &:focus {
    border-color: variables.$primary-color;
    box-shadow: variables.$box-shadow;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.input[type='number'] {
  appearance: textfield;
}

.input[type='number']::-webkit-inner-spin-button,
.input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.active {
  border-color: variables.$primary-color;
  background-color: variables.$field-bg-color-active;
}

.error {
  border-color: variables.$danger-color;

  &:focus {
    border-color: variables.$danger-color;
    box-shadow: variables.$box-shadow;
  }
}

.required {
  border-color: variables.$danger-color;

  &:hover {
    border-color: variables.$danger-color-hover;
  }
}
