@use '../../styles/variables';

.container {
  border: variables.$border;
  padding: 10px;
  width: 250px;
  box-sizing: border-box;
}

.heading {
  font-size: 18px;
}

.fieldWrapper {
  margin-bottom: 8px;
}

.label {
  display: inline-block;
  margin-bottom: 4px;
}

.error {
  color: variables.$error-color;
  font-size: 12px;
}

.typeSelect {
  margin-bottom: 8px;
}

.errorMessage {
  color: variables.$error-color;
  font-size: 12px;
}

.info {
  margin-top: 12px;
  font-size: 12px;
  color: variables.$text-color-secondary;
}
