@import '../../styles/variables';

.container {
  border: $border;
  padding: 10px;
  width: 250px;
}

.header {
  font-size: 18px;
  font-weight: bold;
}

.field {
  margin-bottom: 8px;
}

.label {
  display: inline-block;
  margin-bottom: 4px;
}

.errorText {
  color: $error-color;
  font-size: 12px;
}

.validationError {
  color: $error-color;
  font-size: 12px;
}
