@import '../../styles/variables';

.container {
  display: flex;
  gap: 2rem;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: $border;
  padding: 1rem;
  gap: 1rem;
}

h3 {
  margin-top: 0;
}

button {
  margin: 0.5rem;
}

//edge

.edgeField {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: $border-delimiter;
}

.edgeFieldRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.edgeGeneral {
  display: flex;
  gap: 1rem;
}

.edgeProperties {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edgePropertiesField {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

// node

.nodeField {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 1rem;
  border-bottom: $border-delimiter;

  &:last-of-type {
    border-bottom: none;
  }
}

.nodeFieldRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

// enum

.enumOptions {
  margin-left: 16px;
  margin-top: 4px;
}

.enumTitle {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 4px;
}

.enumOption {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}
