@use '../../styles/variables';

.container {
  display: flex;
  gap: 2rem;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: variables.$border;
  padding: 1rem;
  gap: 1rem;
}

h3 {
  margin-top: 0;
}

button {
  margin: 0.5rem;
}

//edge

.general {
  display: flex;
  gap: 1rem;
}

.properties {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

// fields

.field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: variables.$border-delimiter;
}

.fieldRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

// enum

.enumOptions {
  margin-left: 16px;
  margin-top: 4px;
}

.enumTitle {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 4px;
}

.enumOption {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}
