@import '../../styles/variables';

.container {
  display: flex;
  gap: 2rem;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: $border;
  padding: 1rem;
  gap: 1rem;
}

h3 {
  margin-top: 0;
}

button {
  margin-top: 1rem;
}

.edgeField {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: $border-delimiter;
}

.edgeGeneral {
  display: flex;
  gap: 1rem;
}

.edgeProperties {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edgePropertiesField {
  display: flex;
  gap: 0.5rem;
}

.nodeField {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: $border-delimiter;

  &:last-of-type {
    border-bottom: none;
  }
}

.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

button {
  margin: 5px;
}
